$font: 'Inter', sans-serif;
$text-color: #1C1C21;
$accent-color: rgba(40, 105, 232, 0.8);
$hover-color: rgba(40, 105, 232, 0.6);
$active-color: #2869E8;
$game-bg-color: #F5F5F7;
$hexagon-border: #D0D0D8;
$selected-answer-color: rgba(40, 105, 232, 0.4);
$correct-answer-color: rgba(81, 179, 102, 0.05);
$hexagon-correct-border: #51B366;
$wrong-answer-color: rgba(236, 89, 116, 0.05);
$hexagon-wrong-border: #EC5974;


